bin/
builder/
inter/
SFML-2.5.0/
SFML-Callbacks/
.vs/

#tinyxml/
tinyxml/*.txt
tinyxml/*.xml
tinyxml/*.vcxproj
tinyxml/*.vcxproj.user
tinyxml/*.sln
tinyxml/*.gif
tinyxml/x64/
tinyxml/Releasetinyxml/
tinyxml/ReleasetinyXmlTest/
tinyxml/ReleasetinyXmlSTL/
tinyxml/docs/
tinyxml/Debugtinyxml/
tinyxml/Makefile

#stb
stb/*.md
stb/tools/
stb/tests/
stb/docs/
stb/data/
stb/deprecated/
stb/.github/