bin/
builder/
inter/
SFML-2.5.0/
SFML-2.5.1/
SFML-Callbacks/
TGUI/
.vs/
res/.wip/
res/ref/
res/map/
COP/
cloc-1.86.exe
COP.sln
res/img/Wood and Paper UI
res/img/free
res/img/reserv
x64/
*.drawio

#tinyxml/
tinyxml/*.txt
tinyxml/*.xml
tinyxml/*.vcxproj
tinyxml/*.vcxproj.user
tinyxml/*.sln
tinyxml/*.gif
tinyxml/x64/
tinyxml/Releasetinyxml/
tinyxml/ReleasetinyXmlTest/
tinyxml/ReleasetinyXmlSTL/
tinyxml/docs/
tinyxml/Debugtinyxml/
tinyxml/Makefile

#stb
stb/*.md
stb/tools/
stb/tests/
stb/docs/
stb/data/
stb/deprecated/
stb/.github/
/ECS
/include/glm/out/build/x64-Debug/Testing/Temporary
/include/glm/out/build/x64-Debug/CMakeFiles
/include/glm/out/build/x64-Debug/build.ninja
/include/glm/out/build/x64-Debug/.cmake/api/v1
/include/glm/out/build/x64-Debug
